<form action="/adauga-bd" method="POST">
    <label>ID</label>
    <input type="text" name="id_book" required>
    <label>Name</label>
    <input type="text" name="name_book" required>
    <label>Author</label>
    <input type="text" name="author_book" required>
    <label>ISBN</label>
    <input type="text" name="isbn_book" required>
    <label>Genre</label>
    <input type="text" name="genre_book" required>

    <button type="submit">Inregistrare in bd</button>
</form>