<form action="/verificare-admin" method="POST">
    <label>User:</label>
    <input type="text" placeholder="user admin" name="admin_user" required>

    <label>Password:</label>
    <input type="password" placeholder="password admin" name="admin_pass" required>

    <button type="submit">Log in</button>
</form>