<% if(utilizator != null) { %>
    <div class="welcome_container">
        <p id="welcome_message">Logat ca
            <%- utilizator %>.
        </p>
    </div>

    <% }
if(mesajEroare != null) {%>
        <p>
            <%- mesajEroare %>
        </p>
        <% } %>
            <form action="/verificare-autentificare" method="post">
                <label>Utilizator: </label>
                <input type="text" placeholder="Introduceti utilizatorul" name="nume_utilizator" required>
                <br/>
                <label>Parola: </label>
                <input type="password" placeholder="Introduceti parola" name="parola_utilizator" required>
                <br/>

                <input type="submit" value="Autentificare">

            </form>