<form action="/verificare-autentificare" method="POST">

    <label>Utilizator: </label>
    <input type="text" placeholder="Introduceti utilizatorul" name="nume-utilizator" required>
    <br/>

    <label>Parola: </label>
    <input type="password" placeholder="Introduceti parola" name="parola-utilizator" required>
    <br/>

    <button type="submit">Autentificare</button>

</form>