<a href="/autentificare">Autentificare</a>
<br /><br />
<% if(utilizator != null) { %>
    <p>Bine ati venit,
        <%- utilizator %>!
    </p>

    <form action="/logout" method="post">
        <input type="submit" value="Log out">
    </form>
    <form action="/creare-bd" method="post">
        <input type="submit" value="Creare BD">
    </form>
    <form action="/inserare-bd" method="post">
        <input type="submit" value="Încărcare BD">
    </form>
    <% } %>