<% if(utilizator != null) { %>
    <p>Bine ati venit,
        <%- utilizator %>!
    </p>
    <% } %>
        <a href="/autentificare">Autentificare</a>
        <br /><br />
        <form action="/logout" method="post">
            <input type="submit" value="Log out">
        </form>