<% if(utilizator != null) { %>
    <div class="welcome_container">
        <p id="welcome_message">Bine ati venit,
            <%- utilizator %>!
        </p>
    </div>
    <div id="buttons_index">
        <form action="/logout" method="post">
            <input class="button" type="submit" value="Log out">
        </form>
        <form action="/creare-bd" method="get">
            <input class="button" type="submit" value="Creare BD">
        </form>
        <form action="/inserare-bd" method="get">
            <input class="button" type="submit" value="Încărcare BD">
        </form>
    </div>
    <% } %>