<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <meta charset="utf-8" />
    <title>Site web node js</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <p>Programare web</p>
    </header>

    <nav>
        <a id="autentificare_link" href="/autentificare">Autentificare</a>
    </nav>

    <main>
        <%- body -%>
    </main>

    <footer id="page_footer">
        &copy;Programare web - Strilciuc Gabriel
    </footer>

</body>

</html>