<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <meta charset="utf-8" />
    <title>Site web node js</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
    </header>
    <main>
        <%- body -%>
    </main>

    <footer>
        &copy;Programare web - Strilciuc Gabriel
    </footer>

</body>

</html>