<h1>Raspunsuri chestionar</h1>
<br />
<% var i = 0; 
for(var key in raspunsuri) { 
if(raspunsuri[key] == intrebari[i].corect) {%>
    <p>Primul raspuns este corect!</p>
    <% }else{%>
        <p>Primul raspuns este gresit!</p>
        <% } %>
            <p>Raspuns corect:
                <%- intrebari[i].variante[intrebari[i].corect]%>
            </p>
            <br /><br />
            <% i++; } %>