/* Main containers format. */

body {
    background-color: #e6f9ff;
    margin: auto;
}

nav {
    background-color: #66c2ff;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
}

form {
    display: inline;
    margin: 0px 15px;
}


/* Nav format. */

nav a {
    text-decoration: none;
    font-size: 25px;
    text-shadow: black 0px 0px 1px;
    color: #006600;
    font-family: "Lucida Console", Courier, monospace;
    margin: 0px 20px;
}

nav a:hover {
    color: #e0ebeb;
    transition: 0.3s;
}

#welcome_message {
    margin-right: 100px;
    font-size: 25px;
    text-shadow: black 0px 0px 1px;
    color: #006600;
    font-family: "Lucida Console", Courier, monospace;
}

#page_header {
    margin: auto;
    background-image: url("../images/header.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: right;
    font-size: 40px;
}

#page_header p {
    margin-right: 50px;
    font-family: "Trebuchet MS", sans-serif;
    color: #00cc66;
    text-shadow: black 0px 0px 2px;
}

#page_footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #ffff80;
    border-radius: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0px;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.7;
}


/* Custom containers. */

.welcome_container {
    font-size: 30px;
    text-align: right;
    background-color: #66c2ff;
    padding-top: 1px;
    padding-bottom: 1px;
}

.table_container {
    text-align: center;
}

.buttons_container {
    text-align: center;
}

.chestionar_form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.chestionar_container {
    margin: 10px 10px;
    border: 2px solid #003d4d;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    background-color: #006680;
    color: white;
    text-shadow: black 0px 0px 2px;
}

.auth_input_container {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.auth_form {
    display: inline;
}

.auth_block {
    margin: 10px 5px;
}


/* Tables formates. */

.books_db {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.books_db th,
.books_db td {
    border: 1px solid gray;
    padding: 10px;
}

.books_db th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4d79ff;
    color: white;
}


/* Buttons formates. */

.button {
    background-color: #4d79ff;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}