nav {
    background-color: #33ccff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

nav a {
    text-decoration: none;
}

header {
    margin: auto;
}

body {
    margin: 0px;
}

#page_footer {
    position: sticky;
    float: left;
    width: 100%;
    background-color: coral;
    border-radius: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}